---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";

if (!Astro.locals.user) {
	return Astro.redirect("/login");
}
---

<Layout title="Private">
	<Header />

	<section class="w-full py-6 md:py-12">
		<div class="container px-4 md:px-6">
			<div class="text-center space-y-4">
				<p
					class="mx-auto max-w-[600px] text-gray-500 md:text-xl dark:text-gray-400"
				>
					Private content here.
				</p>
			</div>
		</div>
	</section>
</Layout>
