<section class="w-full py-6 md:py-12">
  <div class="container px-4 md:px-6">
    <div class="text-center space-y-4">
      <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl">
        Welcome to {import.meta.env.APP_NAME}
      </h1>
      <p
        class="mx-auto max-w-[600px] text-gray-500 md:text-xl dark:text-gray-400"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt nesciunt
        pariatur culpa, cum exercitationem quod incidunt porro est. Sint numquam
        vel consequatur expedita tenetur eos quas, non aliquid error cupiditate.
      </p>
      <a
        href="/private"
        class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background rounded-md px-3 h-9 bg-gray-900 text-gray-50 shadow-md hover:bg-gray-800"
      >
        Get Started
      </a>
    </div>
  </div>
</section>
